<div class="overlay">
    <div *ngIf="isLoading">
        <span class="loader"></span>
    </div>
  <div class="form-container" *ngIf="!isLoading">
          <span>Atualizar Dados:</span>
          <div class="form">
            <label class="picture" tabindex="0">
                <input class="img-input" type="file" accept="image/*" (change)="onFileChange($event)" min="0">
                <span class="img">
                    <img *ngIf="imageSrc" class="image" src="{{imageSrc}}">
                    <img *ngIf="!imageSrc" class="imageCam" src="../../../../../assets/camera-square-svgrepo-com.svg">
                </span>
            </label>
              <div class="inputs">
                
                  <label>Rg:</label>
                  <input [(ngModel)]="colaborator.rg" type="text" name="Rg" value="{{colaborator.rg}}" mask="000.000.000-00" autocomplete="off">
                  
                  <label >Nome:</label>
                  <input [(ngModel)]="colaborator.name" type="text" name="name" value="{{colaborator.name}}" autocomplete="off">
              </div>
          </div>
  
          <div class="buttons">
              <button (click)="updateColaborator()">Salvar</button>
              <button class="btnCancel" (click)="handleCancel()">Cancelar</button>
          </div>
      </div>
  </div>
