<div class="overlay">
    <div class="form-container">
            <span>Adicionar Departamento:</span>

            <label >ID:</label>
            <input [(ngModel)]="departament.id" type="number" name="id" min="0" autocomplete="off">
    
            <label >Nome:</label>
            <input [(ngModel)]="departament.name" type="text" name="name" autocomplete="off">
    
            <label>Sigla:</label>
            <input [(ngModel)]="departament.acronym" type="text" name="sigla" autocomplete="off">
            <div>
                <button (click)="createDepartament()" >Adicionar</button>
                <button class="btnCancel" (click)="handleCancel()">Cancelar</button>
            </div>
        </div>
    </div>
