

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    box-sizing: border-box;
}

button{
    padding: 1rem;
    background-color: rgb(65, 125, 255);
    color: white;

    font-weight: bold;

    border: 0;
    border-radius: 10px;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover{
    background-color: rgb(93, 144, 253);
}

.btnCancel{
    background-color: rgb(219, 58, 58);
}

.btnCancel:hover{
    background-color: rgb(236, 74, 74);
}

a{
    color: black;
    text-decoration: none;
}